<!DOCTYPE html>
<html>
    <head>
        <title>Contatos</title>
    </head>
    <body>
        <h1>Olá! Meu nome é Evandro Souza.</h1>
        <h2>Meu e-mail é {{email}}.</h2>
        <h3>Meu telefone é {{telefone}}.</h3>
        <p><a href="https://oceanbrasil.com/">Visite o Samsung Ocean Brasil!</a></p>
        <p><a href="https://www.w3schools.com/html/default.asp">Aprenda HTML</a></p>
        <p><a href="https://flask.palletsprojects.com/en/2.1.x/quickstart/">Aprenda FLASK</a></p>
        <h3>Exemplo de Lista Ordenada em HTML</h3>
        <ol>
            <li> Item 01</li>
            <li> Item 02</li>
            <li> Item 03</li>
            <li> Item 04</li>
        </ol>
    </body>
</html>